<h3>Edit Game</h3>
<div class="row">
    <form action="/games/{{game._id}}" method="POST" class="col s12">
        <input type="hidden" name="_method" value="PUT">
        <div class="row">
            <div class="input-field">
                <input type="text" id="title" name="name" value="{{game.name}}">
                <label for="title">Name</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <select id="status" name="status">
                    {{#select game.status}}
                    <option value="active" selected>Active</option>
                    <option value="inactive">Inactive</option>
                    {{/select}}
                </select>
                <label for="status">Status</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <h5>Add game description here:</h5>
                <textarea id="body" name="body">{{game.body}}</textarea>
            </div>
        </div>

        <div class="row">
            <input type="submit" value="Save" class="btn">
            <a href="/admin" class="btn orange">Cancel</a>
        </div>
    </form>
</div>